.card-jh {
  background: url('../img/card-jh.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-jc {
  background: url('../img/card-jc.jpg') 0 -6px no-repeat;
  background-size: cover;
}
.card-js {
  background: url('../img/card-js.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-qs {
  background: url('../img/card-qs.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-qc {
  background: url('../img/card-qc.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-qh {
  background: url('../img/card-qh.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-qd {
  background: url('../img/card-qd.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-kd {
  background: url('../img/card-kd.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-kh {
  background: url('../img/card-kh.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-kc {
  background: url('../img/card-kc.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-ks {
  background: url('../img/card-ks.jpg') 0 -6px no-repeat;
  background-size: cover;
}

.card-td {
  background: url('../img/card-td.jpg') 0 -6px no-repeat;
  background-size: cover;
}
